@import "tailwindcss";

@theme {
  --color-fondo: var(--color-k4os);
  --color-k4os: #0a0408;
  --color-tau: #e42f24;
  --color-mechi: #cf78d6;
  --color-ine: #0ab1c5;
  --color-lily: #0074ba;
  --color-fondoTema: var(--color-k4os);
  --color-caos: #a19e8b;
  --color-extra: #845d1f;
  --color-menteEnBlanco: #989898;
  --color-rage: #d90008;
  --color-uffBaby: #ef9183;
}
@layer components {
  .k4os {
    --color-fondo: initial;
    --color-fondo: var(--color-k4os);
  }
  .tau {
    --color-fondo: initial;
    --color-fondo: var(--color-tau);
  }
  .mechi {
    --color-fondo: initial;
    --color-fondo: var(--color-mechi);
  }
  .ine {
    --color-fondo: initial;
    --color-fondo: var(--color-ine);
  }
  .lily {
    --color-fondo: initial;
    --color-fondo: var(--color-lily);
  }
  .caos {
    --color-fondoTema: initial;
    --color-fondoTema: var(--color-caos);
  }
  .extra {
    --color-fondoTema: initial;
    --color-fondoTema: var(--color-extra);
  }
  .menteEnBlanco {
    --color-fondoTema: initial;
    --color-fondoTema: var(--color-menteEnBlanco);
  }
  .rage {
    --color-fondoTema: initial;
    --color-fondoTema: var(--color-rage);
  }
  .uffBaby {
    --color-fondoTema: initial;
    --color-fondoTema: var(--color-uffBaby);
  }
}
